// .page{
    
// }
.main{
    background-color: $color--secondary ;
    border-radius: 10px;
    padding: 3% 5% 3% 5%;
    color: white;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}