.btn {
  border-radius: 10px;
  padding: 0.5% 1%;
  color: #040404;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: $color--primary;
  font-size: 16px;
  text-decoration: none;
  &--nav{
    background-color: transparent;
    color: $color--primary;
    &--active{
        color: $color--primary;
    }
  }
  &--input{
    width: 100px;
  }
  &--cta {
    background-color: $color--cta;
    font-weight: $extra-light;
    border: solid lighten($color--cta, 10%);
    width: 80px;
  }
  &--ghost {
    background-color: transparent;
  }
  &--disabled {
    background-color: #e8e8e8;
  }
}
