.btn{
    border-radius: 10px;
    padding: 10%;
    color: #040404;
    &--cta{
        background-color: #CEF035;
    }
    &--primary{
        background-color: #EBF2C5;
    }
    &--ghost{
        background-color: transparent;
    }
    &--disabled{
        background-color: #E8E8E8;
    }

}