.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3%;
    background-color: transparent;
    &__section{
        display: flex;
        flex-wrap: wrap;
        & h4{
            margin-bottom: 0;
        }
        &--border{
            margin-top: 0;
            border: solid white 0.1px;
        }
    }
    &__error{
        color: red;
        font-size: 10px;
    }
}