.searchBar{
    border-bottom: solid 0.2px black;
    padding: 2% 4% 3% 4%;
    display: flex;
    flex-direction: column;
    & input:hover{
        background-color: darken($color: white, $amount: 2%);
    }
    &__message{
        display: flex;
        & button{
            padding: 0;
            height: 20px;
            margin-left: 2%;
            align-self: center;
            border-radius:100px ;
            border: solid 0.5px red;
            padding: 1px 5px;
            cursor: pointer;

        }
    }
}