.input{
    background-color: transparent;
    width: 200px;
    height: 30px;
    font-size: 14px;
    border-radius: 2px;
    border: solid grey 1px;
    color: $color--secondary;
    padding-left: 15px;
    margin-top: 5px;
    &::placeholder{
        color: $color--primary;
    }
    &--btn{
        align-self: center;
    }
}